html {
  font-size: 62, 5%;
}

body {
  padding-right: 0px !important;
  /*For proper work of modals*/
}

body > div {
  font-family: "Charm", cursive;
  font-size: 1.3rem;
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

@media (max-width: 411px) {
  div.middle-row > div {
    padding: 10px;
  }

  body > div {
    font-size: 1.1rem;
  }
}

@media (max-width: 575.98px) {
}

/*sm*/
@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
