div.box > div > div {
  margin: 20px 30px;
}

div.box > div > div > div {
  background-color: rgba(22, 25, 37, 0.795);
}

div.box {
  -webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.73);
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.73);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.card > img {
  margin-bottom: -1.5px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

div.card-body > a {
  color: white;
}

div.card-body > a:hover {
  color: rgb(197, 255, 238);
}

div.box > div {
  padding-bottom: 200px;
  margin-top: 100px;
}

.zoom {
  transform-origin: 0 0;
  transition: transform 0.25s, visibility 0.25s ease-in;
}

/* The Transformation */
.zoom:hover {
  transform: scale(1.03);
}

@media (max-width: 1382px) {
  div.box > div > div {
    margin: 80px 10px;
  }
}

@media (max-width: 991.98px) {
  div.box > div {
    margin-top: 20px;
  }
}
